*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1ed9;
}
#btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
#btncontent{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
button{
    width: 160px;
    height: 50px;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: royalblue;
    cursor: pointer;
}
#result{
    font-size: 30px;
    padding-top: 20px;
    
}

#main-box{
    padding-top: 50px;
    position: absolute;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    text-align: center;

}
#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
#box1{
    border-top: none;
    border-left: none;
}
#box3{
    border-bottom: none;
    border-left: none;
}
#box7{
    border-top: none;
    border-right: none;
}
#box9{
    border-bottom: none;
    border-right: none;
}
#box2{
    border-left: none;
}
#box4{
    border-top: none;
}
#box6{
    border-bottom: none;
}
#box8{
    border-right: none;
}

#box1:hover,
#box2:hover,
#box3:hover,
#box4:hover,
#box5:hover,
#box6:hover,
#box7:hover,
#box8:hover,
#box9:hover{
    background-color: rgba(32, 30, 30, 0.623);
}

#reload{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

